<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourist Form</title>
</head>
<body>
<h1>Tourist Personal Information</h1>
    <form>
        <label for="fname">First Name:
            <input type="text" id="fname" value="fname">
        </label><br>
        <label for="lname">Last Name:
            <input type="text" id="lname" value="lname">
        </label><br>
        <label for="email">Email:
            <input type="text" id="email" value="email">
        </label><br>
        <label for="phone">Phone:
            <input type="text" id="phone" value="phone">
        </label><br>
        <label for="city">City:
            <input type="text" id="city" value="city">
        </label><br>
        <label for="state">State:
            <input type="text" id="State" value="state">
        </label><br>
    </form>
</body>
</html>