<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Interests</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a href="./" span class="navbar-brand mb-0 h1">QuickTrip Website</span></a>
</nav>

<div class="container">
    <div class="col-sm-12">
        <div class="card" id="personalInfoCard" style="padding: 5%;">
            <h1 class="aTitle">Traveler Information</h1>
            <hr>
            <div class="row">
                <!--First Fields-->
                <div class="form-row">
                    <h1 class="border-bottom col">Interests</h1>
                    <!--&gt;>>>>>> 01d974e65bc45b2aaadf5a7c7ccf466419fdb622-->
                </div>
                <div class="form-row ml-2 mt-2">
                    <!--POST user Inputs from Route-->
                    <form action="#" method="post"
                          id="interForm" name="interestTypes"
                          value="Personal Information"
                          enctype="multipart/form-data">
                        <input type="checkbox" name="interests[]" id="animal" value="animal">Animal Excursion
                        <input type="checkbox" name="interests[]" id="local" value="local">Local Landmarks
                        <input type="checkbox" name="interests[]" id="water" value="waterfront">Waterfront Views
                        <input type="checkbox" name="interests[]" id="club" value="club">Club Scene
                        <input type="checkbox" name="interests[]" id="wine" value="wine">Wineries
                        <input type="checkbox" name="interests[]" id="historical" value="historical">Historical Places
                        <input type="checkbox" name="interests[]" id="TVfamous" value="tv">Locations from TV
                        <input type="checkbox" name="interests[]" id="bar" value="bar">Bar Hoping
                        <input type="checkbox" name="interests[]" id="food" value="restaurant">Local Cuisine

                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>