<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/profile.css">
    <title>Profile</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a href="./" span class="navbar-brand mb-0 h1">QuickTrip Website</span></a>
</nav>
    <!-- User Page -->
    <div class="p-2 border rounded m-5">
        <button id="trav">Traveler</button><button id="drive">Driver</button>
        <div class="text-center">
            <a href="/appointment" class="btn btn-primary mt-1 traveler">Book A QuickTrip</a>
        </div>
        <div class="form-row ml-2 mt-2">
            <!--Driver Information-->
            <!--Right Side -->
            <check if="{{@SESSION.member instanceof User_Driver}}">
                <true>
                    <div class="col-md-6  border rounded p-2 d-none driver">
                        <h2 class="border-bottom col">Driver Information</h2>
                        <hr>
                        <p>City : {{@SESSION.member->getCity}}</p>
                        <hr>
                        <p>State : {{@SESSION.member->getState}}</p>
                        <hr>
                        <p>Driver Rating</p>
                        <hr>
                        <p>Bio: {{@SESSION.member->getBio}}</p>
                        <img src="img/testprofile.jpg" alt="Profile Pic" height="42" width="42">

                    </div>
                    <!--Right Side -->
                    <div class="col-md-6  border rounded p-2 d-none">
                        <h2 class="border-bottom col">Car Information</h2>
                        <hr>
                        <p>Car Make: {{@SESSION.member->getCarMake}}</p>
                        <hr>
                        <p>Car Model: {{@SESSION.member->getCarModel}}</p>
                        <hr>
                        <p>Car Year: {{@SESSION.member->getCarMake}}</p>
                        <hr>
                        <img src="img/testpic.jpeg" alt="Car Pic" height="42" width="42">
                    </div>
                </true>
                <false>
                    <div class="col-md-12 border rounded p-2 driver text-center d-none">
                        <a  class="btn btn-primary" href="/driver">Become A Driver</a>
                    </div>
                </false>
            </check>


            <!--Traveler-->
            <div class="col-md border rounded p-2 traveler">
                <p>Name: {{@SESSION.member->getFname()  }} {{@SESSION.member->getLname() }}</p>
                <hr>
                <p>Email: {{@SESSION.member->getEmail()}}</p>
                <hr>
                <p>Interests #:
                    <check if="{{@SESSION.member->getInterests()!=null}}">
                        {{implode(",",@SESSION.member->getInterests())}}
                    </check>
                </p>
                <hr>
                <p>User Rating</p>
                <hr>
                <button id="passUpdate" class="btn btn-primary">Update Password</button>
            </div>
        </div>
    </div>


</body>
</html>